In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
pd.set_option('display.max_columns',None)

In [4]:
train_df=pd.read_csv('Training_Missing_removed.csv',index_col='application_key')
colm= [ i for i in range(48)]
train_df.columns=colm
med_colm=[1, 5, 6, 7, 10, 11, 12, 14, 20, 21, 22, 23, 24, 25, 26, 29, 31, 36]
zero_replace_colm=[2,3,4,15,16,17,18,19,39]
mean_replace_colm=[0,8,9,43]
mode_replace_colm=[28,35]
train_df[med_colm]=train_df[med_colm].replace(np.NaN,train_df[med_colm].median())
train_df[zero_replace_colm]=train_df[zero_replace_colm].replace(np.NaN,0)
train_df[mean_replace_colm]=train_df[mean_replace_colm].replace(np.NaN,train_df[mean_replace_colm].mean(axis=0))
train_df[mode_replace_colm]=train_df[mode_replace_colm].replace(np.NaN,train_df[mode_replace_colm].mode(axis=0))
Y=train_df[[47]]
train_df[[34]]=train_df[[34]].replace(np.NaN,0)
train_df[[39]]=train_df[[39]].replace(np.NaN,0)
train_df[[40]]=train_df[[40]].replace(np.NaN,0)
train_df[[45]]=train_df[[45]].replace(np.NaN,0)
train_df[[44]]=train_df[[44]].replace(np.NaN,0)
train_df['mvar3435']=train_df[[33]].values+train_df[[34]].values
train_df['mvar4041']=train_df[[39]].values+train_df[[40]].values
train_df['mvar4546']=train_df[[44]].values+train_df[[45]].values
drop_colm=[30,33,34,39,40,44,45,47]
train_df=train_df.drop(drop_colm,axis=1)
train_df['label']=Y
train_df.dropna(axis=0,inplace=True)
ind=[i for i in range(44)]
# train_df.columns=ind
# train_df.to_csv('---Training_manual_cleaned.csv')
train_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,31,32,35,36,37,38,41,42,43,46,mvar3435,mvar4041,mvar4546,label
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
230032,1696.0,1.6541,0.000,0.0,0.0,0.0,6015.0,322.0,40369.000000,18414.0,1780.0,6423.0,3067.0,123875.0,216152.0,1.0,1.0,1.0,3.0,3.0,94.78,8987.180,3700.00,72.25,1462.0,4532.0,2890.0,61.0,4532.0,1095.0,625.0,1.1667,8.0,10.0,4.0,1.0,0.08696,10.0,0.63899,0.0,1.0,156.327,0.0,0.0
230033,1846.0,0.8095,0.000,0.0,0.0,102.0,7532.0,3171.0,18234.000000,13664.0,1780.0,765.0,1931.0,42613.0,216152.0,0.0,0.0,0.0,0.0,0.0,74.25,953.060,953.06,4.80,1028.0,2099.0,2099.0,30386.0,2281.0,2829.0,169.0,0.4167,8.0,0.0,2.0,0.0,0.00000,13.0,0.63836,1.0,0.0,99.129,0.0,1.0
230034,1745.0,0.4001,0.000,0.0,0.0,297.0,2536.0,2478.0,34097.436013,2536.0,1780.0,2977.5,4090.0,76109.0,216152.0,0.0,0.0,0.0,0.0,0.0,59.69,3974.425,3700.00,40.44,1472.0,2738.0,2555.0,669.0,4623.0,3772.0,300.0,25.0833,1.0,3.0,1.0,0.0,0.00000,1.0,1.00000,0.0,0.0,29.290,0.0,1.0
230035,1739.0,0.2193,0.000,0.0,0.0,1982.0,26440.0,4955.0,20316.000000,37013.0,1780.0,0.0,0.0,84235.0,216152.0,0.0,0.0,0.0,0.0,0.0,59.69,0.000,3700.00,0.00,1308.0,2525.0,791.0,91.0,5992.0,2829.0,215.0,10.3333,3.0,3.0,2.0,0.0,0.15385,3.0,0.53241,1.0,0.0,96.272,0.0,0.0
230036,1787.0,0.0118,0.225,0.0,0.0,5451.0,5494.0,5494.0,7987.000000,4696.0,1780.0,2257.0,27815.0,123875.0,524848.0,0.0,0.0,0.0,0.0,0.0,20.51,796.670,3700.00,28.72,801.0,2281.0,2281.0,487.0,2707.0,2829.0,158.0,0.9167,2.0,3.0,2.0,0.0,0.00000,1.0,0.92665,1.0,0.0,115.019,0.0,0.0

In [133]:
train_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,31,32,35,36,37,38,41,42,43,46,mvar3435,mvar4041,mvar4546,label
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
230032,1696.0,1.6541,0.000,0.0,0.0,0.0,6015.0,322.0,40369.000000,18414.0,1780.0,6423.0,3067.0,123875.0,216152.0,1.0,1.0,1.0,3.0,3.0,94.78,8987.180,3700.00,72.25,1462.0,4532.0,2890.0,61.0,4532.0,1095.0,625.0,1.1667,8.0,10.0,4.0,1.0,0.08696,10.0,0.63899,0.0,1.0,156.327,0.0,0.0
230033,1846.0,0.8095,0.000,0.0,0.0,102.0,7532.0,3171.0,18234.000000,13664.0,1780.0,765.0,1931.0,42613.0,216152.0,0.0,0.0,0.0,0.0,0.0,74.25,953.060,953.06,4.80,1028.0,2099.0,2099.0,30386.0,2281.0,2829.0,169.0,0.4167,8.0,0.0,2.0,0.0,0.00000,13.0,0.63836,1.0,0.0,99.129,0.0,1.0
230034,1745.0,0.4001,0.000,0.0,0.0,297.0,2536.0,2478.0,34097.436013,2536.0,1780.0,2977.5,4090.0,76109.0,216152.0,0.0,0.0,0.0,0.0,0.0,59.69,3974.425,3700.00,40.44,1472.0,2738.0,2555.0,669.0,4623.0,3772.0,300.0,25.0833,1.0,3.0,1.0,0.0,0.00000,1.0,1.00000,0.0,0.0,29.290,0.0,1.0
230035,1739.0,0.2193,0.000,0.0,0.0,1982.0,26440.0,4955.0,20316.000000,37013.0,1780.0,0.0,0.0,84235.0,216152.0,0.0,0.0,0.0,0.0,0.0,59.69,0.000,3700.00,0.00,1308.0,2525.0,791.0,91.0,5992.0,2829.0,215.0,10.3333,3.0,3.0,2.0,0.0,0.15385,3.0,0.53241,1.0,0.0,96.272,0.0,0.0
230036,1787.0,0.0118,0.225,0.0,0.0,5451.0,5494.0,5494.0,7987.000000,4696.0,1780.0,2257.0,27815.0,123875.0,524848.0,0.0,0.0,0.0,0.0,0.0,20.51,796.670,3700.00,28.72,801.0,2281.0,2281.0,487.0,2707.0,2829.0,158.0,0.9167,2.0,3.0,2.0,0.0,0.00000,1.0,0.92665,1.0,0.0,115.019,0.0,0.0

# lead_board cleaned mannual

In [5]:
# train_df.head(2)
# Y[:20]
train_df=pd.read_csv('Evalution_missing_removed.csv',index_col='application_key')
train_df.columns=colm[:-1]
train_df[med_colm]=train_df[med_colm].replace(np.NaN,train_df[med_colm].median())
train_df[zero_replace_colm]=train_df[zero_replace_colm].replace(np.NaN,0)
train_df[mean_replace_colm]=train_df[mean_replace_colm].replace(np.NaN,train_df[mean_replace_colm].mean(axis=0))
train_df[mode_replace_colm]=train_df[mode_replace_colm].replace(np.NaN,train_df[mode_replace_colm].mode(axis=0))
# Y=train_df[[47]]
train_df[[34]]=train_df[[34]].replace(np.NaN,0)
train_df[[39]]=train_df[[39]].replace(np.NaN,0)
train_df[[40]]=train_df[[40]].replace(np.NaN,0)
train_df[[45]]=train_df[[45]].replace(np.NaN,0)
train_df[[44]]=train_df[[44]].replace(np.NaN,0)
train_df['mvar3435']=train_df[[33]].values+train_df[[34]].values
train_df['mvar4041']=train_df[[39]].values+train_df[[40]].values
train_df['mvar4546']=train_df[[44]].values+train_df[[45]].values
drop_colm=[30,33,34,39,40,44,45,47]
train_df=train_df.drop(drop_colm[:-1],axis=1)
# train_df['label']=Y
# train_df.dropna(axis=0,inplace=True)
train_df=train_df.replace(np.NaN,train_df.mean(axis=0))
ind=[i for i in range(44)]
# train_df.drop(train_df[[47]],axis=1)
train_df.columns=ind[:-1]
train_df.head()
# train_df.to_csv('---lead_board_manual_cleaned.csv')
# train_df.to_csv('---lead_board_manual_cleaned.csv')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
570075,1860.0,0.4668,0.212,0.0,0.0,1621.0,151211.0,22298.0,161588.0,207987.0,1876.5,3625.0,0.0,72343.0,1189200.0,0.0,0.0,0.0,0.0,0.0,68.909,3460.87,3300.0,0.07,1380.0,6844.0,6844.0,639.0,7118.0,2859.0,1134.0,2.5833,2.0,6.0,0.0,0.0,0.00000,10.0,0.955970,0.0,0.0,0.000,0.0
570076,1797.0,0.4451,0.000,0.0,0.0,920.0,8124.0,920.0,30429.0,14070.0,1876.5,11991.0,5627.0,58469.0,148650.0,0.0,0.0,0.0,1.0,1.0,66.469,6288.00,3300.0,66.85,2734.0,4228.0,4228.0,1886.0,11102.0,4745.0,719.0,30.6667,4.0,6.0,1.0,0.0,0.00000,4.0,0.452500,0.0,0.0,14.888,0.0
570077,1826.0,0.0423,0.000,0.0,0.0,3478.0,7209.0,3964.0,16054.0,24924.0,1876.5,486.0,0.0,56487.0,218135.0,0.0,0.0,0.0,0.0,0.0,12.250,0.00,3300.0,4.58,1557.0,4410.0,4410.0,943.0,4623.0,456.0,256.0,3.5000,5.0,2.0,2.0,0.0,0.09091,7.0,0.923840,0.0,0.0,101.588,0.0
570078,1656.0,0.2726,41.623,0.0,0.0,4955.0,4955.0,4955.0,65010.0,0.0,58125.0,0.0,0.0,74325.0,594600.0,0.0,0.0,0.0,0.0,0.0,57.396,3460.87,3300.0,36.22,1963.0,2190.0,2190.0,61.0,8060.0,4623.0,839.0,16.6667,6.0,13.0,0.0,0.0,0.52632,0.0,0.714432,1.0,0.0,0.000,0.0
570079,1915.0,0.4451,0.000,0.0,0.0,6918.0,7433.0,6918.0,7433.0,14351.0,1876.5,514.0,5502.0,4955000.0,218135.0,0.0,0.0,0.0,0.0,0.0,6.920,3460.87,3300.0,6.92,3407.0,3407.0,3407.0,30386.0,3407.0,2859.0,112.0,0.0833,1.0,1.0,0.0,0.0,0.00000,2.0,1.000000,1.0,0.0,0.000,0.0

In [75]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25000 entries, 350053 to 375052
Data columns (total 43 columns):
0     25000 non-null float64
1     25000 non-null float64
2     25000 non-null float64
3     25000 non-null float64
4     25000 non-null float64
5     25000 non-null float64
6     25000 non-null float64
7     25000 non-null float64
8     25000 non-null float64
9     25000 non-null float64
10    25000 non-null float64
11    25000 non-null float64
12    25000 non-null float64
13    25000 non-null float64
14    25000 non-null float64
15    25000 non-null float64
16    25000 non-null float64
17    25000 non-null float64
18    25000 non-null float64
19    25000 non-null float64
20    25000 non-null float64
21    25000 non-null float64
22    25000 non-null float64
23    25000 non-null float64
24    25000 non-null float64
25    25000 non-null float64
26    25000 non-null float64
27    25000 non-null float64
28    25000 non-null float64
29    25000 non-null float64
30    25000 non-null float64
31    25000 non-null float64
32    25000 non-null float64
33    25000 non-null float64
34    25000 non-null float64
35    25000 non-null float64
36    25000 non-null float64
37    25000 non-null float64
38    25000 non-null float64
39    25000 non-null float64
40    25000 non-null float64
41    25000 non-null float64
42    25000 non-null float64
dtypes: float64(43)
memory usage: 8.4 MB

# addition on training_cleaned

In [137]:
Y1=train_df['label']
train_df['mvar2_3_4']=train_df[[2]].values+train_df[[3]].values+train_df[[3]].values
train_df['mvar6_7_8']=train_df[[5]].values+train_df[[6]].values+train_df[[7]].values
train_df['mvar16_17_18']=train_df[[15]].values+train_df[[16]].values+train_df[[17]].values
train_df['mvar6_7_8']=train_df[[5]].values+train_df[[6]].values+train_df[[7]].values
train_df['mvar19_20']=train_df[[18]].values+train_df[[16]].values
train_df['mvar26_27']=train_df[[25]].values+train_df[[26]].values
new_ind=[i for i in range(36)]
drop_list1=[2,3,4,5,6,7,15,16,17,18,19,25,26,'label']
train_df=train_df.drop(drop_list1,axis=1)
train_df['pdefault']=Y1
train_df.columns=new_ind
# train_df.to_csv('--Training_cleaned_afteradding.csv')

In [135]:
train_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
230032,1696.0,1.6541,40369.000000,18414.0,1780.0,6423.0,3067.0,123875.0,216152.0,94.78,8987.180,3700.00,72.25,1462.0,61.0,4532.0,1095.0,625.0,1.1667,8.0,10.0,4.0,1.0,0.08696,10.0,0.63899,0.0,1.0,156.327,0.0,0.000,6337.0,3.0,4.0,7422.0,0.0
230033,1846.0,0.8095,18234.000000,13664.0,1780.0,765.0,1931.0,42613.0,216152.0,74.25,953.060,953.06,4.80,1028.0,30386.0,2281.0,2829.0,169.0,0.4167,8.0,0.0,2.0,0.0,0.00000,13.0,0.63836,1.0,0.0,99.129,0.0,0.000,10805.0,0.0,0.0,4198.0,1.0
230034,1745.0,0.4001,34097.436013,2536.0,1780.0,2977.5,4090.0,76109.0,216152.0,59.69,3974.425,3700.00,40.44,1472.0,669.0,4623.0,3772.0,300.0,25.0833,1.0,3.0,1.0,0.0,0.00000,1.0,1.00000,0.0,0.0,29.290,0.0,0.000,5311.0,0.0,0.0,5293.0,1.0
230035,1739.0,0.2193,20316.000000,37013.0,1780.0,0.0,0.0,84235.0,216152.0,59.69,0.000,3700.00,0.00,1308.0,91.0,5992.0,2829.0,215.0,10.3333,3.0,3.0,2.0,0.0,0.15385,3.0,0.53241,1.0,0.0,96.272,0.0,0.000,33377.0,0.0,0.0,3316.0,0.0
230036,1787.0,0.0118,7987.000000,4696.0,1780.0,2257.0,27815.0,123875.0,524848.0,20.51,796.670,3700.00,28.72,801.0,487.0,2707.0,2829.0,158.0,0.9167,2.0,3.0,2.0,0.0,0.00000,1.0,0.92665,1.0,0.0,115.019,0.0,0.225,16439.0,0.0,0.0,4562.0,0.0

In [118]:
Y1[:20]

application_key
230032    0.0
230033    1.0
230034    1.0
230035    0.0
230036    0.0
230038    1.0
230040    0.0
230041    0.0
230042    0.0
230043    0.0
230044    0.0
230045    0.0
230046    0.0
230047    0.0
230049    0.0
230050    1.0
230051    0.0
230052    0.0
230053    0.0
230054    1.0
Name: label, dtype: float64

# for lead_board_data while addition

In [144]:
# Y1=train_df.iloc[:,-1]
train_df['mvar2_3_4']=train_df[[2]].values+train_df[[2]].values+train_df[[2]].values
train_df['mvar6_7_8']=train_df[[5]].values+train_df[[6]].values+train_df[[7]].values
train_df['mvar16_17_18']=train_df[[15]].values+train_df[[16]].values+train_df[[17]].values
train_df['mvar6_7_8']=train_df[[5]].values+train_df[[6]].values+train_df[[7]].values
train_df['mvar19_20']=train_df[[18]].values+train_df[[16]].values
train_df['mvar26_27']=train_df[[25]].values+train_df[[26]].values
new_ind=[i for i in range(36)]
drop_list1=[2,3,4,5,6,7,15,16,17,18,19,25,26,'label']
train_df=train_df.drop(drop_list1[:-1],axis=1)
# train_df['label']=Y1
train_df.columns=new_ind[:-1]
# train_df.to_csv('lead_board_cleaned_afteradding.csv')

In [146]:
train_df.to_csv('Evalution_cleaned_afteradding.csv')

In [145]:
train_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
570075,1860.0,0.4668,161588.0,207987.0,1876.5,3625.0,0.0,72343.0,1189200.0,68.909,3460.87,3300.0,0.07,1380.0,639.0,7118.0,2859.0,1134.0,2.5833,2.0,6.0,0.0,0.0,0.00000,10.0,0.955970,0.0,0.0,0.000,0.0,0.636,175130.0,0.0,0.0,13688.0
570076,1797.0,0.4451,30429.0,14070.0,1876.5,11991.0,5627.0,58469.0,148650.0,66.469,6288.00,3300.0,66.85,2734.0,1886.0,11102.0,4745.0,719.0,30.6667,4.0,6.0,1.0,0.0,0.00000,4.0,0.452500,0.0,0.0,14.888,0.0,0.000,9964.0,0.0,1.0,8456.0
570077,1826.0,0.0423,16054.0,24924.0,1876.5,486.0,0.0,56487.0,218135.0,12.250,0.00,3300.0,4.58,1557.0,943.0,4623.0,456.0,256.0,3.5000,5.0,2.0,2.0,0.0,0.09091,7.0,0.923840,0.0,0.0,101.588,0.0,0.000,14651.0,0.0,0.0,8820.0
570078,1656.0,0.2726,65010.0,0.0,58125.0,0.0,0.0,74325.0,594600.0,57.396,3460.87,3300.0,36.22,1963.0,61.0,8060.0,4623.0,839.0,16.6667,6.0,13.0,0.0,0.0,0.52632,0.0,0.714432,1.0,0.0,0.000,0.0,124.869,14865.0,0.0,0.0,4380.0
570079,1915.0,0.4451,7433.0,14351.0,1876.5,514.0,5502.0,4955000.0,218135.0,6.920,3460.87,3300.0,6.92,3407.0,30386.0,3407.0,2859.0,112.0,0.0833,1.0,1.0,0.0,0.0,0.00000,2.0,1.000000,1.0,0.0,0.000,0.0,0.000,21269.0,0.0,0.0,6814.0

In [78]:
train_df.head()

(25000, 35)

In [94]:
train_df.shape

(25000, 35)

In [31]:
train_df

(71526, 36)

In [22]:
# train_df=pd.read_csv('Training_Missing_removed.csv',index_col='application_key')
# col_id=[i for i in range(48)]
# train_df.columns=col_id
print(train_df.median())

# train_df.head()
# traain_df.info()

0          1746.901551
1             0.542400
5           297.000000
6          7011.500000
7          2503.000000
8         18306.000000
9         11983.000000
10         1764.000000
11         3017.000000
12         4133.000000
13        72343.000000
14       214789.000000
15            0.000000
16            0.000000
17            0.000000
18            0.000000
19            0.000000
20           59.569500
21         3978.570000
22         3707.500000
23           41.220000
24         1470.000000
25         2738.000000
26         2555.000000
27          304.000000
28         5232.000000
29         2798.000000
30          300.000000
31            4.083300
32            5.000000
33            3.000000
34            3.000000
35            0.000000
36            0.166670
37            6.000000
38            0.718850
39            0.000000
40            0.000000
41            0.000000
42            0.000000
2_3_4         0.750000
dtype: float64

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80000 entries, 230032 to 310031
Data columns (total 48 columns):
mvar1          76361 non-null float64
mvar2          74447 non-null float64
mvar3          79499 non-null float64
mvar4          79499 non-null float64
mvar5          79499 non-null float64
mvar6          61036 non-null float64
mvar7          72606 non-null float64
mvar8          61036 non-null float64
mvar9          68592 non-null float64
mvar10         79498 non-null float64
mvar11         35181 non-null float64
mvar12         65922 non-null float64
mvar13         71648 non-null float64
mvar14         80000 non-null float64
mvar15         47933 non-null float64
mvar16         61490 non-null float64
mvar17         64154 non-null float64
mvar18         65229 non-null float64
mvar19         79996 non-null float64
mvar20         79498 non-null float64
mvar21         57439 non-null float64
mvar22         50876 non-null float64
mvar23         39752 non-null float64
mvar24         61098 non-null float64
mvar25         72294 non-null float64
mvar26         69390 non-null float64
mvar27         66791 non-null float64
mvar28         79498 non-null float64
mvar29         79498 non-null float64
mvar30         43583 non-null float64
mvar31         23782 non-null float64
mvar32         72294 non-null float64
mvar33         78249 non-null float64
mvar34         79498 non-null float64
mvar35         46986 non-null float64
mvar36         77102 non-null float64
mvar37         72294 non-null float64
mvar38         79498 non-null float64
mvar39         73960 non-null float64
mvar40         17443 non-null float64
mvar41         25422 non-null float64
mvar42         78099 non-null float64
mvar43         79182 non-null float64
mvar44         72255 non-null float64
mvar45         35145 non-null float64
mvar46         57211 non-null float64
mvar47         80000 non-null float64
default_ind    80000 non-null float64
dtypes: float64(48)
memory usage: 29.9 MB

In [18]:
(train_df==0).sum(axis=0)

0         0
1      6424
2     36873
3     68475
4     71797
5     10707
6      2988
7      2631
8       342
9     10330
10       98
11     5111
12    12838
13     2073
14        0
15    51396
16    52719
17    53325
18    48041
19    44996
20        0
21     7378
22     6784
23     4655
24       74
25       88
26       89
27    16409
28        7
29       15
30       19
31       74
32        0
33    67048
34    40222
35        0
36    16277
37     7014
38    68827
39        0
40       63
41    24305
42     9973
43        0
44    32905
45    52381
46    51840
47    60303
dtype: int64

In [273]:
# # final.index=['0_sum','median'
# train_df['mvar3435']=train_df[[33]].values+train_df[[34]].values
# train_df['mvar4041']=train_df[[39]].values+train_df[[40]].values
# train_df['mvar4546']=train_df[[44]].values+train_df[[45]].values
# drop_colm=[30,33,34,39,40,44,45,47]
# train_df=train_df.drop(drop_colm,axis=1)
# train_df['label']=Y
# train_df.dropna(axis=0,inplace=True)

# # train_df.drop(train_df[[47]],axis=1)
# train_df.head()

In [274]:
# final
# train_df.drop([[47]],axis=1)

In [ ]:
tra

In [9]:
train_df.mode(axis=0)
# train_df.info()

,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,mvar13,mvar14,mvar15,mvar16,mvar17,mvar18,mvar19,mvar20,mvar21,mvar22,mvar23,mvar24,mvar25,mvar26,mvar27,mvar28,mvar29,mvar30,mvar31,mvar32,mvar33,mvar34,mvar35,mvar36,mvar37,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1736.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,297.0,0.0,0.0,0.0,0.0,123875.0,346850.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,183.0,183.0,183.0,30386.0,3772.0,3711.0,3772.0,6.0,0.0833,0.0,0.0,3.0,0.0,2.0,0.0,100.0,100.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [64]:
traain_df[['train_df['mvar3']=traain_df['mvar3'].values+traain_df['mvar4'].values+traain_df['mvar5'].values+

# b=train_df.loc[:,['mvar41']]==np.NaN
# a=a.reset_index
# b=b.reset_index

In [1]:
summ=(train_df==0).sum(axis=0)

NameError: name 'train_df' is not defined

In [17]:
final=pd.DataFrame([summ, med])

In [23]:
train_df.

In [65]:
train_df['mvar40']=train_df.mvar40.replace((np.NaN,0))

In [66]:
train_df['mvar41']=train_df.mvar41.replace((np.NaN,0))

In [71]:
train_df['40+41']=train_df.mvar40+train_df.mvar41

In [194]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80000 entries, 230032 to 310031
Data columns (total 44 columns):
0           80000 non-null float64
1           80000 non-null float64
2           80000 non-null float64
3           80000 non-null float64
4           80000 non-null float64
5           80000 non-null float64
6           80000 non-null float64
7           80000 non-null float64
8           80000 non-null float64
9           80000 non-null float64
10          80000 non-null float64
11          80000 non-null float64
12          80000 non-null float64
13          80000 non-null float64
14          80000 non-null float64
15          80000 non-null float64
16          80000 non-null float64
17          80000 non-null float64
18          80000 non-null float64
19          80000 non-null float64
20          80000 non-null float64
21          80000 non-null float64
22          80000 non-null float64
23          80000 non-null float64
24          80000 non-null float64
25          80000 non-null float64
26          80000 non-null float64
27          79498 non-null float64
28          80000 non-null float64
29          80000 non-null float64
31          80000 non-null float64
32          78249 non-null float64
35          80000 non-null float64
36          80000 non-null float64
37          79498 non-null float64
38          73960 non-null float64
41          78099 non-null float64
42          79182 non-null float64
43          80000 non-null float64
46          80000 non-null float64
47          80000 non-null float64
mvar3435    79498 non-null float64
mvar4041    80000 non-null float64
mvar4546    80000 non-null float64
dtypes: float64(44)
memory usage: 27.5 MB

In [76]:
train_df.head()

,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,mvar13,mvar14,mvar15,mvar16,mvar17,mvar18,mvar19,mvar20,mvar21,mvar22,mvar23,mvar24,mvar25,mvar26,mvar27,mvar28,mvar29,mvar30,mvar31,mvar32,mvar33,mvar34,mvar35,mvar36,mvar37,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind,40+41
application_key,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
230032,1696.0,1.6541,0.000,0.0,0.0,0.0,6015.0,322.0,40369.0,18414.0,NaN,6423.0,3067.0,123875.0,NaN,1.0,1.0,1.0,3.0,3.0,94.78,8987.18,NaN,72.25,1462.0,4532.0,2890.0,61.0,4532.0,1095.0,3376.0,625.0,1.1667,1.0,0.0,8.0,10.0,4.0,1.0,73.780,82.547,0.08696,10.0,0.63899,NaN,0.0,0.0,0.0,156.327
230033,1846.0,0.8095,0.000,0.0,0.0,102.0,7532.0,3171.0,18234.0,13664.0,NaN,765.0,1931.0,42613.0,NaN,0.0,0.0,0.0,0.0,0.0,74.25,953.06,953.06,4.80,1028.0,2099.0,2099.0,30386.0,2281.0,NaN,2251.0,169.0,0.4167,0.0,0.0,8.0,0.0,2.0,0.0,99.129,82.547,0.00000,13.0,0.63836,NaN,NaN,1.0,1.0,181.676
230034,1745.0,0.4001,0.000,0.0,0.0,NaN,2536.0,NaN,NaN,2536.0,NaN,NaN,NaN,76109.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,669.0,4623.0,3772.0,NaN,NaN,25.0833,0.0,NaN,1.0,NaN,1.0,0.0,99.129,29.290,0.00000,1.0,1.00000,NaN,0.0,0.0,1.0,128.419
230035,1739.0,0.2193,0.000,0.0,0.0,1982.0,26440.0,4955.0,20316.0,37013.0,NaN,0.0,0.0,84235.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.00,NaN,0.00,1308.0,2525.0,791.0,91.0,5992.0,NaN,3741.0,215.0,10.3333,0.0,0.0,3.0,3.0,2.0,0.0,96.272,29.290,0.15385,3.0,0.53241,0.0,0.0,1.0,0.0,125.562
230036,1787.0,0.0118,0.225,0.0,0.0,5451.0,5494.0,5494.0,7987.0,4696.0,NaN,2257.0,27815.0,123875.0,524848.0,0.0,0.0,0.0,0.0,0.0,20.51,796.67,NaN,28.72,801.0,2281.0,2281.0,487.0,2707.0,NaN,1947.0,158.0,0.9167,0.0,0.0,2.0,3.0,2.0,0.0,115.019,29.290,0.00000,1.0,0.92665,NaN,NaN,1.0,0.0,144.309

In [140]:
imp

hii